@font-face{
    font-family: CalcFont;
    src: url(digital-7.ttf);
}

body{
    background-color: #D9C5B2;
}
.calculator{
    margin-left: 520px;
    margin-top: 150px;
    width: 400px;
    height: 400px;
    background-color: #34312D;
    border: 1px solid black;
    /* padding-left: 200px; */
    padding-top: 18px;
    border-radius: 5px;
    
    

}

/* Input field container */
.input-container{
    padding-left: 22px;
    margin-bottom: 10px;
    
    
}
/* Input field container */


button{
    width: 70px;
    height: 50px;
    border-radius: 8px;
    background-color: #14110F;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Protest Strike', sans-serif;
    
}

button:hover{
    background-color: rgb(77, 71, 71);
}
button:active{
    background-color: rgb(150, 143, 143);
}


/* Input field */
#display{
    width: 350px;
    height: 80px;
    border-radius: 4px;
    /* background-color: #7E7F83; */
    color: black;
    font-family: CalcFont;
    font-size: 50px;
}
#display:hover{
    cursor: grab;
    
}
/* Input field */


.button-container{
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
}